

body {
    margin: 0;
    padding: 0;
}

/* digital clock  */
#digital-clock{
    
    display: inline-flex;
    

}




#title {
    color: white;
    display: flex;
    padding-left: 100px;
}

  #ist-clock {
    font-size: 40px;
    background-color: rgb(0, 229, 255);
    padding: 20px 50px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
    display: grid;
    display: inline-block;
  }
#UST{
    padding-left: 50px;
}

  #ust-title{
    color: white;
    display: flex;  
    padding-left: 80px;
    
  }

  #UST-clock {
    font-size: 40px;
    background-color: rgb(255, 0, 0);
    padding: 20px 50px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
    display: grid;
    display: inline-block;
  }

#BST{
    padding-left: 50px;
}
  #bst-title{
    color: white;
    display: flex;  
    padding-left: 80px;
  }

  #BST-clock {
    font-size: 40px;
    background-color: rgb(149, 0, 255);
    padding: 20px 50px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
    display: grid;
    display: inline-block;
    
  }


  .button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
  }

  .canvas {
    margin: 10px auto 100px;
    width: 80%;
    text-align: center;
    background-color: azure;
    height: 200px;
  }

  #grey {
    background: grey;
  }
  
  #lightgreen {
    background: lightgreen;
  }
  #blue {
    background: blue;
  }
  #yellow {
    background: yellow;
  }


  #creation{
    background-color: beige;
    height: 50px;
  }
.click{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container{
    height: 20vh;
    background-color: azure;
    margin-top: 30px;
    
}
.heading{
  display: flex;
    justify-content: center;
}
  .datatype{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .finalValue{
    margin-left: 20px;
  }

  .datatypeHolder {
    border-radius: 5px;
    height: 5vh;
  }

  .check{
    border-radius: 5px;
    height: 5vh;
    margin-left: 5px;
    
  }

  /* data generater  */


  .dataContainer{
    height: 20vh;
    display: grid;
    align-items: center;
    justify-content: center;

  }

  #genButton{
    border: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items:center;
    justify-content:  center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
  }

  .dataContainer h1{
    color: #fff;
  }

  #apiData{
    color: #fff;
  }